* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
    background-color: #D264B6;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    gap:0.5em;
    height: calc(100vh - 2em);
    overflow-y: hidden;
}

.card {
    background-color: #49B6FF;
    padding:1.25em;
    border-radius: 0.375em;
    font-size: medium;
    font-family: helvetica;
    display: block;
    text-align: center;
}

.card input, .card button,.card select {
    padding: 0.5em;
    font-size: 1em;
    border:none;
    border-radius: 0.375em;
}

.card button {
    padding-left: 1em;
    padding-right:1em;
    background-color: #ff499e;
}

.items {
    grid-area: 2 / -4 / auto / span 3;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #A480CF;
    border-radius: 0.375em;
    max-height: 100%;
    overflow-y: hidden;
}

#result {
    height: 100%;
    overflow-y: scroll;
}

.link {
    position: absolute;
    right:1.25em;
    padding: 0.375em;
    background-color: aqua;
    border-radius: 0.375em;
    bottom: 1.25em;
}